/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #007bb5;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #004d73; 
}

header figure img {
    border-radius: 50%;
}

header h1 {
    margin-top: 10px;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.menu li {
    margin: 0 15px;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #005b8a;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu li a:hover {
    background-color: #004d73;
}

.noticia-bloco {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.noticia {
    background-color: #b3e5fc;
    padding: 20px;
    margin: 10px;
    flex: 1 1 45%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.noticia h2 {
    color: #004d73;
    margin-bottom: 10px;
}

.noticia p {
    color: #005b8a;
}   

footer {
    background-color: #007bb5;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    border-top: 5px solid #004d73;
}
